@media(max-width: 767px){
    .about-section .skills .skill-item,
    .about-section .about-info,
    .about-section .about-img,
    .home-section .home-text,
    .home-section .home-img{
        flex: 0 0 100%;
        max-width: 100%;
    }


    .home-section .home-text{
        order: 2;
        text-align: center;
    }

    .home-section .full-screen{
        padding: 100px 0;
    }

    .home-section .home-img .img-box{
        margin-bottom: 40px;
        max-width: 380px;
    }

    /*About Section*/

    .about-section .timeline{
        display: flex;
        margin: auto;
        flex-direction: column;
        
    }


    .about-section .timeline .timeline-item:nth-child(odd){    
        text-align: center;
        padding: 0px;
        max-width: 100%;

    }
    .about-section .timeline .timeline-item:nth-child(even){
        text-align: center;
        padding: 0px;
        max-width: 100%;

    }
    


    .about-section .timeline:before{
        display: none;
    }

   
    
    .about-section .timeline .timeline-item-inner:before{
       display: none;

    }
}


@media (max-width:450px){
    .timeline{
        display: flex;
        margin: auto;
        
     

    }

    .timeline-item-inner{
        width: 200px;
        align-items: center;
        justify-content: center;
        margin: 10px auto;

    }

    
}


/*Home section*/

@media(max-width:574px){
    .home-section .home-img .img-box{
        max-width: 260px;
    }
    .home-section .home-tex h2{
        font-size: 40px;
    } 
   
}

@media(max-width: 350px){
    .home-section{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-section .home-img .img-box{
        display: flex;
        width: 240px;
        text-align: center;
    } 
}



/*Portfolio section*/
@media only screen and (max-width: 650px) {
    .portfolio-section .portfolio-item{
        flex: 0 0 50%;
        max-width: 50%;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        word-wrap: break-word;
    
    }
  }

  @media only screen and (max-width: 420px) {
    .portfolio-section .portfolio-item{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        word-wrap: break-word;
    
    }

  }

  @media(max-width:475px){
      
    .contact-items{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        
    }
  }